<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NDbUnitDataEditor.Properties.Settings.testdbConnectionString" connectionString="Data Source=.;Initial Catalog=testdb;Persist Security Info=True;User ID=sa;Password=password" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
