<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SchemaFilePath"  value="C:\_Microdesk\Dev\bkowalski\NDbUnitDataEditor\TestData\Database.xsd" />
    <add key="DataFilePath"  value="C:\_Microdesk\Dev\bkowalski\NDbUnitDataEditor\TestData\TestData.xml" />
  </appSettings>
</configuration>
